body {
  background-color: #eee;
}

body,
p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#chart {
  margin: 0;
}

.popover {
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

.text {
  position: relative;
  top: 50%;

  text-align: center;
  color: #111;
}

.time {
  font-size: 0.8em;
  font-weight: bold;
  padding-right: 1em;
}

.metadata {
  margin-bottom: 0.35em;
}
.time {
  color: #888;
}
.agent {
  line-height: 1.4em;
}

img.icon {
  width: 64px;
  height: 64px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

table img {
  width: 32px;
  height: 32px;
  margin: 0 1em;
  display: block;
}

tbody:before {
  line-height: 1em;
  content: "_";
  color: transparent;
  display: block;
}

table tr th {
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}

table td {
  text-align: left;
  vertical-align: top;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted white;
}

tr td:nth-child(4) {
  min-width: 5em;
  padding-right: 0;
}

@media only screen and (max-width: 700px) {
  td,
  th {
    font-size: 0.5em;
  }
}
